<header class="site-header">
    <div class="wrapper-1000">
        <div class="site-header__main">
            {{#if @site.logo}}
                <a href="{{@site.url}}">
                    <img class="site-header__logo" alt="site logo" src="{{@site.logo}}">                    
                </a>
            {{else}}
                <div class="site-header__title">
                    <a href="{{@site.url}}">{{@site.title}}</a>
                </div>
                <p class="site-header__description">{{@site.description}}</p>
            {{/if}}
        </div>

        <nav class="site-header__nav">
            {{navigation}}
        </nav>
    </div>
</header>